
.container-box {
    margin: 0 15px;
    display: flex; /* Ensure the container uses flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Ensure the container spans the full width */
    height: 100%; /* Ensure the container spans the full height */
}

.form-box {
    width: 100%;
    max-width: 320px;
    padding: 30px;
    background: white;
    border-radius: 5px;
    align-self: center;
}

.input {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #333;
    margin-bottom: 20px;
}

.profile-container .container-box .box {
    align-items: center;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    margin: 1rem;
}

.profile-container .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
