{% extends "index.html" %}

{% block head %}
    <title>Who is Free? - Dashboard </title>
{% endblock %}

{% block content %}
<div class="container">
    <div id="content-area" class="mt-4">
        <div id="dashboard" class="content-section">
            <h2>Dashboard</h2>
            <p>Welcome to your dashboard. Here you can manage your schedules and view your availability.</p>
            <img src="{{ url_for('static', filename='images/dashboard_placeholder.png') }}" alt="Dashboard Image" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}