{% extends "index.html" %}

{% block head %}
    <title>Who is Free? - Help Page</title>
{% endblock %}

{% block content %}
  <aside class="sidebar">
    <nav>
        <ul style="list-style-type: square;">
            <li> <a href="#makeAcount">Making Your Account</a> </li>
            <li> <a href="#changeDetails">Changing Your Details</a> </li>
            <li> <a href="#addEvent">Adding an Event</a> </li>
            <li> <a href="#graphFunc">Using the Frequency Calculator</a> </li>
            <li> <a href="#addFriend">Adding a Contact</a> </li>
            <li> <a href="#createGroup">Creating a Sharegroup</a> </li>
            <li> <a href="#setTime">Using the "Find a Time" Function</a> </li>
            <li> <a href="">Top of Page</a> </li>
        </ul>
    </nav>
  </aside>
  <div class="main-content">
    <section id="makeAcount">
      <h2>Making Your Account</h2>
      <p>You password is required to meet each of the following conditions:
        <ul style="list-style-type: square;"> 
          <li> Be between 12 to 128 characters in length. </li>
          <li> Contain at least one lowercase letter. </li>
          <li> Contain at least one uppercase letter. </li>
          <li> Contain at least one number. </li>
        </ul>
      </p>
    </section>
    <section id="changeDetails">
      <h2>Changing Your Details</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie urna ac nibh malesuada facilisis. Mauris pulvinar condimentum ex. Praesent bibendum lacus eget pretium cursus. Sed a commodo arcu. Quisque pretium turpis ac lectus aliquet, sed semper neque rutrum. Nunc scelerisque venenatis nibh in pellentesque. Nullam at mauris nisl. Vivamus elementum iaculis lacinia. Donec a rhoncus tellus, ut lacinia risus. Aliquam erat volutpat.</p>
    </section>
    <section id="addEvent">
      <h2>Adding An Event</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie urna ac nibh malesuada facilisis. Mauris pulvinar condimentum ex. Praesent bibendum lacus eget pretium cursus. Sed a commodo arcu. Quisque pretium turpis ac lectus aliquet, sed semper neque rutrum. Nunc scelerisque venenatis nibh in pellentesque. Nullam at mauris nisl. Vivamus elementum iaculis lacinia. Donec a rhoncus tellus, ut lacinia risus. Aliquam erat volutpat.</p>
    </section>
    <section id="graphFunc">
      <h2>Using the Frequency Calculator</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie urna ac nibh malesuada facilisis. Mauris pulvinar condimentum ex. Praesent bibendum lacus eget pretium cursus. Sed a commodo arcu. Quisque pretium turpis ac lectus aliquet, sed semper neque rutrum. Nunc scelerisque venenatis nibh in pellentesque. Nullam at mauris nisl. Vivamus elementum iaculis lacinia. Donec a rhoncus tellus, ut lacinia risus. Aliquam erat volutpat.</p>
    </section>
    <section id="addFriend">
      <h2>Adding A Contact</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie urna ac nibh malesuada facilisis. Mauris pulvinar condimentum ex. Praesent bibendum lacus eget pretium cursus. Sed a commodo arcu. Quisque pretium turpis ac lectus aliquet, sed semper neque rutrum. Nunc scelerisque venenatis nibh in pellentesque. Nullam at mauris nisl. Vivamus elementum iaculis lacinia. Donec a rhoncus tellus, ut lacinia risus. Aliquam erat volutpat.</p>
    </section>
    <section id="createGroup">
      <h2>Creating a Sharegroup</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie urna ac nibh malesuada facilisis. Mauris pulvinar condimentum ex. Praesent bibendum lacus eget pretium cursus. Sed a commodo arcu. Quisque pretium turpis ac lectus aliquet, sed semper neque rutrum. Nunc scelerisque venenatis nibh in pellentesque. Nullam at mauris nisl. Vivamus elementum iaculis lacinia. Donec a rhoncus tellus, ut lacinia risus. Aliquam erat volutpat.</p>
    </section>
    <section id="setTime">
      <h2>Using the "Find a Time" Function</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie urna ac nibh malesuada facilisis. Mauris pulvinar condimentum ex. Praesent bibendum lacus eget pretium cursus. Sed a commodo arcu. Quisque pretium turpis ac lectus aliquet, sed semper neque rutrum. Nunc scelerisque venenatis nibh in pellentesque. Nullam at mauris nisl. Vivamus elementum iaculis lacinia. Donec a rhoncus tellus, ut lacinia risus. Aliquam erat volutpat.</p>
    </section>
  </div>
{% endblock %}