{% extends "index.html" %}

{% block head %}
    <title>Who is Free? - Help Page</title>
{% endblock %}

{% block content %}
  <aside class="sidebar">
    <nav>
        <ul style="list-style-type: square;">
            <li> <a href="#makeAcount">Making Your Account</a> </li>
            <li> <a href="#changeDetails">Changing Your Details</a> </li>
            <li> <a href="#addEvent">Adding an Event</a> </li>
            <li> <a href=#editEvent">Editing an Event</a> </li>
            <li> <a href="#colourVis">Why is my Calendar Red?</a> </li>
            <li> <a href="#addFriend">Adding a Contact</a> </li>
            <li> <a href="#createGroup">Creating a Sharegroup</a> </li>
            <li> <a href="#setTime">Using the "Find a Time" Function</a> </li>
            <li> <a href="">Top of Page</a> </li>
        </ul>
    </nav>
  </aside>
  <div class="main-content">
    <section id="makeAcount">
      <h2>Making Your Account</h2>
      <p>To create your account, you will need to enter three things. 
        <ol>
            <li> A username: Anything you like! This is how you will find your connections to share your calendar</li>
            <li> A valid email address! </li>
            <li> A password to secure your account, with the following requirements:</li>
            <ul style="list-style-type: square;"> 
              <li> Be between 12 to 128 characters in length. </li>
              <li> Contain at least one lowercase letter. </li>
              <li> Contain at least one uppercase letter. </li>
              <li> Contain at least one number. </li>
            </ul>
        </ol>    
      </p>
    </section>
    <section id="changeDetails">
      <h2>Changing Your Details</h2>
      <p>This functions is not yet implemented.</p>
    </section>
    <section id="addEvent">
      <h2>Adding An Event</h2>
      <p>You can add new events to your calendar using the <a href='main/dashboard.html'>Dashboard</a> tab in two ways. <br>
          Firstly, by using the "Add Event" form on the left-hand side of the page. Simply fill in the details for your event, then submit to see it added to your calendar on the right.
          <ul style="list-style-type: none;">
              <li> Start and End Time: The time period during which the event will occur. End time does not have to be on the same day as the start.</li>
              <li> Title: The header for your event that will display beneath the calendar when viewing the day.</li>
              <li> Description: A short description that will be displayed beneath the Title when viewing the day.</li>
              <li> Privacy Level: Decide who can view details of this event: Just yourself, specific friends, or all friends. </li>
          </ul>
          Secondly, you can click on a day on the calendar display directly. This will start autofilling the "Add Event" form with an event on the clicked day with a default duration of one hour. Simply add in the remaining details and submit your event.
      </p>
    </section>
    <section id="editEvent">
      <h2>Editing an Event</h2>
      <p>Lorum ipsum.</p>
    </section>
    <section id="colourVis">
      <h2>Why is my Calendar Red?</h2>
      <p>Your calendar responds to your life, updating to let you know at a glance where your time is most precious. As you add more events to a day, it will change colour on your calendar to easily flag it as busier.
          Days will start out white, and become coloured with darker shades of red based on how many hours of that day are occupied by your events.
      </p>
    </section>
    <section id="addFriend">
      <h2>Adding A Contact</h2>
      <p> Send a friend request to your contacts by searching their username on the <a href='main/profile.html'>Profile</a> tab! The users that best match your search term will be displayed beneath the box, so try to be as close to their username as you can. 
          Then it's simply a matter of clicking the "Add Friend" button to ship off the request for them to review. <br>
        If another user has sent you a friend request, these will appear just beneath the search box when you enter your profile. Simply click "Accept" if you want to link your account to the other user, or "Deny" if you do not.
      </p>
    </section>
    <section id="createGroup">
      <h2>Creating a Sharegroup</h2>
      <p>This function is not yet implemented.</p>
    </section>
    <section id="setTime">
      <h2>Using the "Find a Time" Function</h2>
      <p>This function is not yet implemented.</p>
    </section>
  </div>
{% endblock %}
